<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>vueapp1</title>
</head>
<body>
<div id="app">
  {{ message }}
</div>

<div id="app2">
  <span v-bind:title="message">
    Подержи курсор надо мной пару секунд,
    чтобы увидеть динамически связанное значение title!
  </span>
</div>

<div id="app3">
  <p v-if="seen">Сейчас меня видно</p>
</div>

<div id="app4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

</body>
</html>
